@{
    ViewData["Title"] = "Home Page";
}

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Static Slider 1  -->
        <!-- ============================================================== -->
        <section id="slider-sec" class="slider7">
            <div id="slider7" class="owl-carousel owl-theme slider7 carousel">
                <div class="item overflow-hidden">
                    <!-- Slide Background --><img src="../img/slide2.jpg"
                                                  alt="We are Digital Agency"
                                                  class="slide-image" />
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10 col-md-8 col-lg-5"
                                     data-animation="animated slideInDown">
                                    <div class="bg-white text-center slide-content po-relative">
                                        <label class="
                              label
                              text-white
                              fs-3
                              m-0
                              label-rounded
                              bg-success
                            ">Healthcare</label>
                                        <h2 data-animation="animated flipInX"
                                            class="title m-border-0">
                                            Get Well Soon
                                        </h2>
                                        <p data-animation="animated fadeInLeft"
                                           class="m-t-30">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit. Mauris hendrerit fringilla ligula, nec congue
                                            leo pharetra in.
                                        </p>
                                        <a href="#" class="bg-info text-left text-white">
                                            <i class="icon icon-Right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->
                <!-- Second Slide -->
                <div class="item overflow-hidden">
                    <!-- Slide Background --><img src="../img/slide1.jpg"
                                                  alt="Building Magical Apps"
                                                  class="slide-image w-100" />
                    <!-- Slide Text Layer -->
                    <div class="slide-text">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10 col-lg-5">
                                    <div class="bg-white text-center slide-content po-relative">
                                        <label class="
                              label
                              text-white
                              fs-3
                              m-0
                              label-rounded
                              bg-success
                            ">Healthcare</label>
                                        <h2 data-animation="animated flipInX"
                                            class="title m-border-0">
                                            Get Well Soon
                                        </h2>
                                        <p data-animation="animated fadeInLeft"
                                           class="m-t-30">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit. Mauris hendrerit fringilla ligula, nec congue
                                            leo pharetra in.
                                        </p>
                                        <a href="#" class="bg-info text-left text-white">
                                            <i class="icon icon-Right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slider -->
        </section>
        <!-- ============================================================== -->
        <!-- End Static Slider 1  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- features 6  -->
        <!-- ============================================================== -->
        <div class="feature6">
            <div class="container">
                <!-- Row  -->
                <div class="row m-t-60">
                    <!-- Column -->
                    <div class="col-md-4 wrap-feature6-box">
                        <div class="card bg-success-light text-white"
                             data-aos="fade-right"
                             data-aos-duration="1200">
                            <div class="card-body">
                                <h6 class="fw-medium text-white">Dental Care</h6>
                                <p class="m-t-20">
                                    Lorem ipsum dolor sit amet, consecte tuam porttitor,
                                    nunc et fringilla.
                                </p>
                                <a href="./single-services.html" class="linking">
                                    Learn More <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-4 wrap-feature6-box">
                        <div class="card bg-success text-white"
                             data-aos="fade-down"
                             data-aos-duration="1200">
                            <div class="card-body">
                                <h6 class="fw-medium text-white">Nurology</h6>
                                <p class="m-t-20">
                                    Lorem ipsum dolor sit amet, consecte tuam porttitor,
                                    nunc et fringilla.
                                </p>
                                <a href="./single-services.html" class="linking">
                                    Learn More <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-4 wrap-feature6-box">
                        <div class="card bg-info text-white"
                             data-aos="fade-left"
                             data-aos-duration="1200">
                            <div class="card-body">
                                <h6 class="fw-medium text-white">Cancer care</h6>
                                <p class="m-t-20">
                                    Lorem ipsum dolor sit amet, consecte tuam porttitor,
                                    nunc et fringilla.
                                </p>
                                <a href="./single-services.html" class="linking">
                                    Learn More <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End features 6  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Feature 9  -->
        <!-- ============================================================== -->
        <div class="pb-5 feature9">
            <div class="container">
                <!-- Row  -->
                <div class="row mt-3">
                    <!-- Column -->
                    <div class="col-md-6 wrap-feature9-box b-r border-bottom">
                        <div class="card"
                             data-aos="fade-right"
                             data-aos-duration="1200">
                            <div class="card-body d-flex">
                                <div class="align-self-center">
                                    <h2 class="fw-medium">
                                        We are Leading Health Care Hospital in NewYork
                                    </h2>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 wrap-feature9-box border-bottom">
                        <div class="card"
                             data-aos="fade-left"
                             data-aos-duration="1200">
                            <div class="card-body d-flex">
                                <div class="icon-space align-self-center">
                                    <i class="icon-Computer-Secure display-4 text-info"></i>
                                </div>
                                <div class="align-self-center">
                                    <h5 class="fw-medium">
                                        <a href="javascript:void(0)"
                                           class="linking"
                                           data-bs-toggle="modal"
                                           data-bs-target="#exampleModal">
                                            Online Appointment <i class="ti-arrow-right"></i>
                                        </a>
                                    </h5>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 wrap-feature9-box b-r">
                        <div class="card"
                             data-aos="fade-right"
                             data-aos-duration="1200">
                            <div class="card-body d-flex">
                                <div class="icon-space align-self-center">
                                    <i class="icon-Cloud-Smartphone display-4 text-info"></i>
                                </div>
                                <div class="align-self-center">
                                    <h5 class="fw-medium">
                                        <a href="./doctors.html" class="linking">
                                            Latest Technologies <i class="ti-arrow-right"></i>
                                        </a>
                                    </h5>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-6 wrap-feature9-box">
                        <div class="card"
                             data-aos="fade-left"
                             data-aos-duration="1200">
                            <div class="card-body d-flex">
                                <div class="icon-space align-self-center">
                                    <i class="icon-Business-ManWoman display-4 text-info"></i>
                                </div>
                                <div class="align-self-center">
                                    <h5 class="fw-medium">
                                        <a href="./doctors.html" class="linking">
                                            Experienced Team <i class="ti-arrow-right"></i>
                                        </a>
                                    </h5>
                                    <p class="m-t-20">
                                        You can relay on our amazing features list and also
                                        our customer services will be great experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Feature 9  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Feature 18  -->
        <!-- ============================================================== -->
        <div class="bg-light spacer feature18">
            <div class="container">
                <!-- row  -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-9 text-center">
                        <h2 class="title">Powerful Services at Medika</h2>
                        <h6 class="subtitle">
                            You can relay on our amazing features list and also our
                            customer services will be great experience for you without
                            doubt and in no-time
                        </h6>
                    </div>
                </div>
                <!-- row  -->
                <div class="row wrap-feature-18">
                    <!-- Column  -->
                    <div class="col-lg-6"
                         data-aos="fade-right"
                         data-aos-duration="1200">
                        <!-- card  -->
                        <div class="card">
                            <div class="row">
                                <div class="col-md-5 icon-position"
                                     style="background-image: url(../img/img1.jpg)">
                                    <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-inline-block
                          ">
                                        <i class="icon-Tooth"></i>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body p-40">
                                        <h5 class="fw-medium">
                                            Dental Care with Easy Treatments
                                        </h5>
                                        <p class="m-t-20">
                                            You can relay on our amazing features list and also
                                            our customer services will be great experience.
                                        </p>
                                        <a href="./single-services.html"
                                           class="linking text-underline fw-medium">
                                            Lets Talk <i class="ti-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column  -->
                    <!-- Column  -->
                    <div class="col-lg-6"
                         data-aos="fade-left"
                         data-aos-duration="1200">
                        <!-- card  -->
                        <div class="card">
                            <div class="row">
                                <div class="col-md-5 icon-position"
                                     style="background-image: url(../img/img2.jpg)">
                                    <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-inline-block
                          ">
                                        <i class="icon-Cardiovascular"></i>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body p-40">
                                        <h5 class="fw-medium">
                                            We are Heart Specialist and Surgeon
                                        </h5>
                                        <p class="m-t-20">
                                            You can relay on our amazing features list and also
                                            our customer services will be great experience.
                                        </p>
                                        <a href="./single-services.html"
                                           class="linking text-underline fw-medium">
                                            Lets Talk <i class="ti-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column  -->
                    <!-- Column  -->
                    <div class="col-lg-6"
                         data-aos="fade-up"
                         data-aos-duration="1200">
                        <!-- card  -->
                        <div class="card">
                            <div class="row">
                                <div class="col-md-5 icon-position"
                                     style="background-image: url(../img/img3.jpg)">
                                    <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-inline-block
                          ">
                                        <i class="icon-Brain-2"></i>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body p-40">
                                        <h5 class="fw-medium">
                                            We do have Department for Research
                                        </h5>
                                        <p class="m-t-20">
                                            You can relay on our amazing features list and also
                                            our customer services will be great experience.
                                        </p>
                                        <a href="./single-services.html"
                                           class="linking text-underline fw-medium">
                                            Lets Talk <i class="ti-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column  -->
                    <!-- Column  -->
                    <div class="col-lg-6"
                         data-aos="fade-up"
                         data-aos-duration="1200">
                        <!-- card  -->
                        <div class="card">
                            <div class="row">
                                <div class="col-md-5 icon-position"
                                     style="background-image: url(../img/img4.jpg)">
                                    <div class="
                            icon-round
                            bg-info
                            text-white
                            display-6
                            d-none d-md-inline-block
                          ">
                                        <i class="icon-Hospital"></i>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body p-40">
                                        <h5 class="fw-medium">
                                            Child Care Department for Everyone
                                        </h5>
                                        <p class="m-t-20">
                                            You can relay on our amazing features list and also
                                            our customer services will be great experience.
                                        </p>
                                        <a href="./single-services.html"
                                           class="linking text-underline fw-medium">
                                            Lets Talk <i class="ti-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column  -->
                </div>
                <div class="row">
                    <div class="col-md-12 m-t-40 text-center">
                        <a href="./services.html"
                           class="btn btn-info btn-md btn-arrow">
                            <span>View Other Services <i class="ti-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Feature 18  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Team Feature 14  -->
        <!-- ============================================================== -->
        <div class="spacer feature14">
            <div class="container">
                <!-- row  -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-9 text-center">
                        <h2 class="title">Experienced Team of Doctors</h2>
                        <h6 class="subtitle">
                            You can relay on our amazing features list and also our
                            customer services will be great experience for you without
                            doubt and in no-time
                        </h6>
                    </div>
                </div>
                <!-- row  -->
                <div class="row m-t-40 p-t-20">
                    <div class="col-lg-3 col-md-6 wrap-feature14-box">
                        <div class="" data-aos="flip-left" data-aos-duration="1200">
                            <img class="rounded w-100"
                                 src="../img/t1.jpg"
                                 alt="wrappixel kit" />
                            <div class="m-t-30">
                                <a href="./doctor-details.html"
                                   class="fw-medium m-border-0 link">Dr. Micheal Anderson</a>
                                <h6 class="subtitle">Heart Sergeon</h6>
                                <p class="m-t-20">
                                    You can relay on our amazing features list and also our
                                    customer services will be great.
                                </p>
                                <a href="./doctor-details.html"
                                   class="text-info fw-medium">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6 wrap-feature14-box">
                        <div class="" data-aos="flip-left" data-aos-duration="1200">
                            <img class="rounded w-100"
                                 src="../img/t2.jpg"
                                 alt="wrappixel kit" />
                            <div class="m-t-30">
                                <a href="./doctor-details.html"
                                   class="fw-medium m-border-0 link">Dr. Julia D’Souza</a>
                                <h6 class="subtitle">Family Physician</h6>
                                <p class="m-t-20">
                                    You can relay on our amazing features list and also our
                                    customer services will be great.
                                </p>
                                <a href="./doctor-details.html"
                                   class="text-info fw-medium">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6 wrap-feature14-box">
                        <div class="" data-aos="flip-left" data-aos-duration="1200">
                            <img class="rounded w-100"
                                 src="../img/t3.jpg"
                                 alt="wrappixel kit" />
                            <div class="m-t-30">
                                <a href="./doctor-details.html"
                                   class="fw-medium m-border-0 link">Dr. Megan Doe</a>
                                <h6 class="subtitle">Cancer Care Specialist</h6>
                                <p class="m-t-20">
                                    You can relay on our amazing features list and also our
                                    customer services will be great.
                                </p>
                                <a href="./doctor-details.html"
                                   class="text-info fw-medium">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6 wrap-feature14-box">
                        <div class="" data-aos="flip-left" data-aos-duration="1200">
                            <img class="rounded w-100"
                                 src="../img/t4.jpg"
                                 alt="wrappixel kit" />
                            <div class="m-t-30">
                                <a href="./doctor-details.html"
                                   class="fw-medium m-border-0 link">Dr. Johnathan Birt</a>
                                <h6 class="subtitle">General Care</h6>
                                <p class="m-t-20">
                                    You can relay on our amazing features list and also our
                                    customer services will be great.
                                </p>
                                <a href="./doctor-details.html"
                                   class="text-info fw-medium">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Team Feature 14  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Feature 41  -->
        <!-- ============================================================== -->
        <div class="bg-light spacer feature41">
            <div class="container">
                <!-- Row  -->
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-9 text-center">
                        <h2 class="title">Less Invasive. Best Outcomes.</h2>
                        <h6 class="subtitle">
                            You can relay on our amazing features list and also our
                            customer services will be great experience for you without
                            doubt and in no-time
                        </h6>
                    </div>
                </div>
                <!-- Row  -->
                <div class="row m-t-40 wrap-feature41-box">
                    <!-- Column -->
                    <div class="col-lg-4 col-md-5">
                        <ul class="nav vtab f41-tab">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   id="home-tab"
                                   data-bs-toggle="tab"
                                   href="#home"
                                   aria-controls="home">
                                    <div class="display-5 t-icon">
                                        <i class="icon-Tooth"></i>
                                    </div>
                                    <div>
                                        <h5 class="m-border-0">Dental Care</h5>
                                        <h6 class="subtitle">
                                            You can relay on our amazing features list.
                                        </h6>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   id="profile-tab"
                                   data-bs-toggle="tab"
                                   href="#profile"
                                   aria-controls="profile">
                                    <div class="display-5 t-icon">
                                        <i class="icon-Cardiovascular"></i>
                                    </div>
                                    <div>
                                        <h5 class="m-border-0">Heart Surgery</h5>
                                        <h6 class="subtitle">
                                            You can relay on our amazing features list.
                                        </h6>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   id="dropdown1-tab"
                                   data-bs-toggle="tab"
                                   href="#dropdown1"
                                   aria-controls="dropdown1">
                                    <div class="display-5 t-icon">
                                        <i class="icon-Brain-2"></i>
                                    </div>
                                    <div>
                                        <h5 class="m-border-0">Nurology</h5>
                                        <h6 class="subtitle">
                                            You can relay on our amazing features list.
                                        </h6>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   id="ssd-tab"
                                   data-bs-toggle="tab"
                                   href="#ssd"
                                   aria-controls="ssd">
                                    <div class="display-5 t-icon">
                                        <i class="icon-First-Aid"></i>
                                    </div>
                                    <div>
                                        <h5 class="m-border-0">General Treatment</h5>
                                        <h6 class="subtitle">
                                            You can relay on our amazing features list.
                                        </h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-md-7 ms-auto">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active"
                                 id="home"
                                 role="tabpanel"
                                 aria-labelledby="home-tab">
                                <img src="../img/d1.jpg"
                                     alt="Medika"
                                     class="rounded img-fluid" />
                                <p class="m-t-40">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </p>
                                <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                                   href="./single-services.html">
                                    <span>Learn more <i class="ti-arrow-right"></i></span>
                                </a>
                            </div>
                            <div class="tab-pane fade"
                                 id="profile"
                                 role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <img src="../img/d2.jpg"
                                     alt="Medika"
                                     class="rounded img-fluid" />
                                <p class="m-t-40">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </p>
                                <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                                   href="./single-services.html">
                                    <span>Learn more <i class="ti-arrow-right"></i></span>
                                </a>
                            </div>
                            <div class="tab-pane fade"
                                 id="dropdown1"
                                 role="tabpanel"
                                 aria-labelledby="dropdown1-tab">
                                <img src="../img/d1.jpg"
                                     alt="Medika"
                                     class="rounded img-fluid" />
                                <p class="m-t-40">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </p>
                                <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                                   href="./single-services.html">
                                    <span>Learn more <i class="ti-arrow-right"></i></span>
                                </a>
                            </div>
                            <div class="tab-pane fade"
                                 id="ssd"
                                 role="tabpanel"
                                 aria-labelledby="ssd-tab">
                                <img src="../img/d2.jpg"
                                     alt="Medika"
                                     class="rounded img-fluid" />
                                <p class="m-t-40">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                    dolore magna aliquam erat volutpat.
                                </p>
                                <a class="btn btn-info shadow-none btn-md btn-arrow m-t-20"
                                   href="./single-services.html">
                                    <span>Learn more <i class="ti-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Feature 41  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Testimonial 2  -->
        <!-- ============================================================== -->
        <div class="testimonial2 spacer">
            <div class="container">
                <div class="heading"></div>
                <div class="owl-carousel owl-theme testi2 m-t-40">
                    <div class="item">
                        <div class="row po-relative">
                            <div class="
                        col-lg-6 col-md-6
                        align-self-center
                        order-2 order-md-1
                      "
                                 data-aos="fade-right"
                                 data-aos-duration="1200">
                                <div class="d-none d-md-block">
                                    <button class="btn btn-circle btn-info btn-md">
                                        <i class="fa fa-quote-left"></i>
                                    </button>
                                    <h3 class="m-t-20 m-b-20">Customer Reviews</h3>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </p>
                                <h5 class="m-t-30">Simon Duo</h5>
                                <h6 class="subtitle">Partner, Brevin</h6>
                            </div>
                            <div class="d-block d-md-none">
                                <button class="btn btn-circle btn-info btn-md">
                                    <i class="fa fa-quote-left"></i>
                                </button>
                                <h3 class="m-t-20 mborder-0">Customer Reviews</h3>
                            </div>
                            <div class="col-lg-6 col-md-6 image-thumb order-1 order-md-1"
                                 data-aos="fade-left"
                                 data-aos-duration="1200">
                                <img src="../img/1.jpg"
                                     alt="medika"
                                     class="rounded-circle img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row po-relative">
                            <div class="
                        col-lg-6 col-md-6
                        align-self-center
                        order-2 order-md-1
                      "
                                 data-aos="fade-right"
                                 data-aos-duration="1200">
                                <div class="d-none d-md-block">
                                    <button class="btn btn-circle btn-info btn-md">
                                        <i class="fa fa-quote-left"></i>
                                    </button>
                                    <h3 class="m-t-20 m-b-20">Customer Reviews</h3>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </p>
                                <h5 class="m-t-30">Simon Duo</h5>
                                <h6 class="subtitle">Partner, Brevin</h6>
                            </div>
                            <div class="d-block d-md-none">
                                <button class="btn btn-circle btn-info btn-md">
                                    <i class="fa fa-quote-left"></i>
                                </button>
                                <h3 class="m-t-20 mborder-0">Customer Reviews</h3>
                            </div>
                            <div class="col-lg-6 col-md-6 image-thumb order-1 order-md-1"
                                 data-aos="fade-left"
                                 data-aos-duration="1200">
                                <img src="../img/2.jpg"
                                     alt="medika"
                                     class="rounded-circle img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row po-relative">
                            <div class="
                        col-lg-6 col-md-6
                        align-self-center
                        order-2 order-md-1
                      "
                                 data-aos="fade-right"
                                 data-aos-duration="1200">
                                <div class="d-none d-md-block">
                                    <button class="btn btn-circle btn-info btn-md">
                                        <i class="fa fa-quote-left"></i>
                                    </button>
                                    <h3 class="m-t-20 m-b-20">Customer Reviews</h3>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat.
                                </p>
                                <h5 class="m-t-30">Simon Duo</h5>
                                <h6 class="subtitle">Partner, Brevin</h6>
                            </div>
                            <div class="d-block d-md-none">
                                <button class="btn btn-circle btn-info btn-md">
                                    <i class="fa fa-quote-left"></i>
                                </button>
                                <h3 class="m-t-20 mborder-0">Customer Reviews</h3>
                            </div>
                            <div class="col-lg-6 col-md-6 image-thumb order-1 order-md-1"
                                 data-aos="fade-left"
                                 data-aos-duration="1200">
                                <img src="../img/3.jpg"
                                     alt="medika"
                                     class="rounded-circle img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Testimonial 2  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Blog home 1  -->
        <!-- ============================================================== -->
        <div class="blog-home1 spacer bg-light">
            <div class="container">
                <!-- Row  -->
                <div class="row justify-content-center">
                    <!-- Column -->
                    <div class="col-lg-7 col-md-9 text-center">
                        <h2 class="title">Latest from Our Blog</h2>
                        <h6 class="subtitle">
                            You can relay on our amazing features list and also our
                            customer services will be great experience for you without
                            doubt and in no-time
                        </h6>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                </div>
                <div class="row m-t-40 justify-content-center">
                    <!-- Column -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-shadow"
                             data-aos="flip-left"
                             data-aos-duration="1200">
                            <a href="./page-blog-detail.html">
                                <img class="card-img-top"
                                     src="../img/b1.jpg"
                                     alt="wrappixel kit" />
                            </a>
                            <div class="p-30">
                                <div class="d-flex no-block fs-3">
                                    <a href="#">Existed Countries</a>
                                    <span class="ms-auto">Sept 18, 2021</span>
                                </div>
                                <h5 class="fw-medium m-t-20">
                                    <a href="./page-blog-detail.html" class="link">Hospitals have long existed in most countries</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-shadow"
                             data-aos="flip-up"
                             data-aos-duration="1200">
                            <a href="./page-blog-detail.html">
                                <img class="card-img-top"
                                     src="../img/b2.jpg"
                                     alt="wrappixel kit" />
                            </a>
                            <div class="p-30">
                                <div class="d-flex no-block fs-3">
                                    <a href="#">Developing countries </a>
                                    <span class="ms-auto">Sept 18, 2021</span>
                                </div>
                                <h5 class="fw-medium m-t-20">
                                    <a href="./page-blog-detail.html" class="link">
                                        Developing countries, which contain a large
                                        proportion
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-shadow"
                             data-aos="flip-left"
                             data-aos-duration="1200">
                            <a href="./page-blog-detail.html">
                                <img class="card-img-top"
                                     src="../img/b3.jpg"
                                     alt="wrappixel kit" />
                            </a>
                            <div class="p-30">
                                <div class="d-flex no-block fs-3">
                                    <a href="#">Receive the benefits</a>
                                    <span class="ms-auto">Sept 18, 2021</span>
                                </div>
                                <h5 class="fw-medium m-t-20">
                                    <a href="./page-blog-detail.html" class="link">
                                        People in these countries do not always receive the
                                        benefits.
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Blog home 1  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Call to action 1  -->
        <!-- ============================================================== -->
        <div class="mini-spacer bg-info text-white">
            <div class="container">
                <div class="d-flex">
                    <div class="display-7 align-self-center">
                        Are you Looking for Online Appointment?
                    </div>
                    <div class="ms-auto m-t-10 m-b-10">
                        <button class="btn btn-outline-light btn-md"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Book an Appointment
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Call to action  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer2 fs-3 bg-dark">
        <div class="f2-middle">
            <div class="container">
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-md-6">
                        <p class="p-t-10">
                            Nullam erat ametam arcu lorme pharetra id risus act sectetur
                            ipsum luctus est ullam erat ametam arcu lorme pharetra id us
                            act sectetur ipsum luctus est.
                        </p>
                        <p>
                            Vestibulum in accumsa maga eds maurise elit tincidunt turpis
                            id semper.
                        </p>
                        <div class="m-t-20 m-b-30">
                            <a href="#" class="link"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="link"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="link"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="link"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="link"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-2 col-md-6">
                        <ul class="general-listing">
                            <li>
                                <a href="index.html"><i class="fa fa-circle"></i> Home</a>
                            </li>
                            <li>
                                <a href="services.html"><i class="fa fa-circle"></i> Services</a>
                            </li>
                            <li>
                                <a href="departments.html"><i class="fa fa-circle"></i> Departments</a>
                            </li>
                            <li>
                                <a href="doctors.html"><i class="fa fa-circle"></i> Doctors</a>
                            </li>
                            <li>
                                <a href="page-blog.html">
                                    <i class="fa fa-circle"></i> Blog
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa fa-circle"></i> Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6 info-box">
                        <div class="d-flex no-block">
                            <div class="display-7 m-r-20 align-self-top">
                                <i class="icon-Location-2"></i>
                            </div>
                            <div class="info">
                                <p>
                                    134, Cornish Building, Some <br />
                                    Near by area, New York, <br />
                                    USA - 34556
                                </p>
                            </div>
                        </div>
                        <div class="d-flex no-block">
                            <div class="display-7 m-r-20 align-self-top">
                                <i class="icon-Over-Time"></i>
                            </div>
                            <div class="info">
                                <span class="fw-medium db m-t-5">8.00 AM - 6:00PM</span>
                            </div>
                        </div>
                        <div class="d-flex no-block">
                            <div class="display-7 m-r-20 align-self-top">
                                <i class="icon-Phone-2"></i>
                            </div>
                            <div class="info">
                                <span class="fw-medium db m-t-5">1 (888) 123 4567</span>
                            </div>
                        </div>
                        <div class="d-flex no-block">
                            <div class="display-7 m-r-20 align-self-top">
                                <i class="icon-Mail"></i>
                            </div>
                            <div class="info">
                                <a href="#" class="fw-medium link db py-1">info@Medika.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="subscribe-box">
                            <div class="display-4 text-white">
                                <i class="icon-Mail-3"></i>
                            </div>
                            <p>
                                Nullam erat ametam arcuing lorme pharetra id risus act
                                sectetur ipsum luctus est.
                            </p>
                            <form>
                                <div class="m-b-20">
                                    <input class="form-control shadow-none"
                                           placeholder="enter email" />
                                </div>
                                <button class="btn btn-info">Join Us</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Back to top -->
    <!-- ============================================================== -->
    <a class="bt-top btn btn-circle btn-lg btn-info" href="#top">
        <i class="ti-arrow-up"></i>
    </a>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->